* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #298c26;
}

.car {
  width: 10rem;
}

.east {
  transform: rotate(0deg);
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}

.north {
  transform: rotate(270deg);
}
